<?xml version="1.0" encoding="utf-8"?>
<ArrayOfBrowseSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BrowseSettings>
    <DeviceAlias>Ergo_PLC</DeviceAlias>
    <DevicePath>L1.</DevicePath>
    <FileName>C:\Users\Public\Documents\Ergo\2v6\Cycling_Rig_2v0.SYM</FileName>
    <FileExtension>.SYM</FileExtension>
    <QuickDialogSurface>false</QuickDialogSurface>
    <ActiveSubFileName />
    <ComTypeName>VISIWINNET CODESYS DRIVER</ComTypeName>
    <Pathelement>
      <string>1</string>
    </Pathelement>
    <ParserType>CODESYSSYMBOLFILE</ParserType>
    <File2ndName />
  </BrowseSettings>
</ArrayOfBrowseSettings>