<?xml version="1.0" encoding="utf-8"?>
<!--VisiWinNET Device Settings file-->
<DeviceSettings>
  <Device name="CustomDevice">
    <ProjectStartInfo />
    <Platform type="Win32" />
    <Display type="Color" width="640" height="480" />
    <Restrictions enabled="False" configFile="" />
    <Communication devicecommunicators="TCP/IP" />
  </Device>
</DeviceSettings>